{{define "common/footer"}}
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned is-size-7 container">
        <b>&copy; 2021 <a href="/">{{.Conf.Site.Brand}}</a></b>
    </div>
</div>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/semantic-ui/semantic.min.js"></script>
<script src="/static/semantic-ui-alerts.min.js"></script>
<script src="/static/vendor/vue/vue.min.js"></script>
<script src="/static/main.js?v202101240939"></script>
</body>

</html>
{{end}}
